.search {
	flex: 0 0 40%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__input {
		font-family: inherit;
		font-size: 1.1rem;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		margin-right: -3.5rem;
		padding: 0.7rem 2rem;
		border-radius: 1000px;
		width: 60%;
		transition: all 0.5s;

		&:focus {
			outline: none;
			width: 70%;
		}

		&::-webkit-input-placeholder {
			color: var(--color-grey-dark-3);
			font-weight: 100;
		}
	}
	&__button {
		border: none;
		background-color: var(--color-grey-light-2);
		&:focus {
			outline: none;
		}
		&:active {
			transform: translateY(2px);
		}
	}
	&__icon {
		height: 2rem;
		width: 2rem;
		fill: var(--color-grey-dark-3);
	}
}
