.post {
	&__heading {
		display: flex;
		width: 20rem;

		// justify-content: space-between;
		align-items: center;

		h4 {
			font-size: 1.2rem;
		}

		span {
			font-size: 1.1rem;
		}
	}
	&__icon {
		fill: var(--color-grey-dark-3);
		padding-top: 0.5rem;
	}

	&__img {
		// background-color: red;
		width: 100%;
		border-radius: 4px;
		max-height: 40rem;
		object-fit: cover;
		object-position: top;
	}

	&__sec {
		display: flex;
		margin-bottom: 1rem;

		&__img {
			border-radius: 7px;
			padding: 3px 3px 3px 0;
			width: 6rem;
			height: 6rem;
			margin-right: 0.7rem;
		}
		&__title {
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 1.8rem;
			a:visited,
			a:link {
				text-decoration: none;
				color: var(--color-grey-dark-1);
				&:active {
					color: var(--color-primary);
				}
			}
			p {
				&:not(:last-child) {
					margin-bottom: 0.7rem;
				}
			}
		}
	}
}
