.comment-footer {
	margin: 1rem 0;
	display: grid;
	grid-template-columns: repeat(3, max-content) minmax(4rem, 1fr);
	// grid-column-gap: 1rem;
	min-width: 30%;
	max-width: 30%;
	justify-content: center;
	align-items: center;
	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: var(--color-grey-dark-4);
		justify-self: center;
	}
	span {
		padding: 0 1rem;
		justify-self: center;
	}
}
